
body{
    background-color: aliceblue;
    height: 100vh;
    margin-bottom: 20px;

}
#b1{
    height: 100vh;
    margin-bottom: 100px;
}
nav{
    background-color: black;

    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav>div{
    text-align: center;
}

nav>#menu{
    width: 100%;
    background-color: rgba(74, 73, 73, 0.404);

}
#menu>ul{
    display: flex;
    /* background: rgba(74, 73, 73, 0.404); */
    gap: 20px;
}
#menu>ul>li{
    list-style-type: none;
    
}
section{
    background-color: white;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#intro_video{
     margin-left: 20px;
    margin-bottom: 20px;
    height: 300px;
    width: 450px;
}
table {
    width: 100%;
    box-sizing: border-box;
}
#campus_photo{
     margin-left: 20px;
    margin-bottom: 20px;
   
}
#audio_intro{
    margin-left: 20px;
    margin-bottom: 20px;
    /* height: 50px;
    width: 450px; */
}
#form1{
    height: 65vh;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}

footer {
    margin-left: 0px;

    background-color: black;
    color: white;
    width: 100%;
    height: 20px;
    padding: 20px 0; /* 20px top and bottom padding */
    position: fixed;
    z-index: 100;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* home.htm/ */
#home1{
    height: 500px;
}

#home{
    background-color: aliceblue;
    height: 100vh;
  
    margin-bottom: 100px;
    background-image: url("https://www.iiitd.ac.in/sites/default/files/IIITD%20Campus%20Photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

